.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-img img{
  border-radius: 1rem 1em 0 0;
}

.heading{
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  text-transform: capitalize;
  margin-top: 1rem;
}

.card-title{
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  text-transform: capitalize;
  margin-top: 1rem;
}

.card-btn{
  background-color: transparent;
  font-size: 1.1rem;
  text-transform: capitalize;
  font-family: "Josefin Sans", sans-serif;
  margin-top: 1rem;
}