.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1{
  background-color: #FEB717;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  padding: .7rem;
  text-align: center;
  text-transform: capitalize;
}

.note-div{
  box-shadow: .3rem .5rem 1rem rgba(128, 128, 128, 0.651);
  border-radius: .8rem;
  padding: 1rem;
  margin: 1.5rem auto 0 auto;
  position: relative;
}

.note-inp , .note{
  outline: none;
  font-family: "Josefin Sans", sans-serif;
  border: none;
  font-size: 1.2rem;
}

.title-inp , .title{
  outline: none;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.4rem;
  border: none;
  font-weight: bold;
}

.add-note-btn{
  position: absolute;
  bottom: -1rem;
  right: 2rem;
  color: #FEB717;
  background-color: white;
  border-radius: 100%;
  padding: .3 .5rem;
  box-shadow: .2rem .3rem 1rem #282c346c;
  border: none;
}

.added-note-div{
  box-shadow: .3rem .5rem 1rem rgba(128, 128, 128, 0.651);
  border-radius: .8rem;
  padding: 1rem;
  position: relative;
}