*{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

table{
  border: .1rem solid black;
  width: 100%;
}

thead{
  background-color: black;
  color: white;
}

td{
  text-transform: capitalize;
  transition: 0.5s;
  padding: 1rem;
}

.total-cases:hover{
  background-color: orange;
  color: white;
}

.total-death:hover{
  background-color: red;
  color: white;
}

.total-recovered:hover{
  background-color: green;
  color: white;
}

.my-row:hover{
  background-color: gainsboro;
}

h1 {
  text-align: center;
  text-transform: capitalize;
}